<div class="container mt-5">
  <form [formGroup]="registerationForm" novalidate>
    <div class="form-group">
      <label class="form-label">User Name:</label>
      <input [class.is-invalid]="registerationForm.get('userName')?.invalid && registerationForm.get('userName')?.touched" type="text" formControlName="userName" class="form-control">
      <!-- simple validation -->
      <div *ngIf="registerationForm.get('userName')?.invalid && registerationForm.get('userName')?.touched">
        <small *ngIf="registerationForm.get('userName')?.errors?.['required']">user name is required</small>
        <small *ngIf="getUserName()?.errors?.['minlength']">user name must be at least 4 character</small>
        <!-- custom validate -->
        <small *ngIf="registerationForm.get('userName')?.errors?.['ForbiddenName']">admin is not allowed</small>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label">Password:</label>
      <input type="password" formControlName="password" class="form-control">
    </div>
    <div class="form-group">
      <label class="form-label">Confirm Password:</label>
      <input type="password" formControlName="confirmPass" class="form-control">
      <small *ngIf="registerationForm?.errors?.['misMatch']">confirm Password not match password</small>
    </div>
    <!-- nested form group (( formGroupName="" )) -->
    <div formGroupName="addressFormGrp">
      <div class="form-group">
        <label class="form-label"> City </label>
        <input type="text" formControlName="city" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label"> Street </label>
        <input type="text" formControlName="street" class="form-control">
      </div>
      <div class="form-group">
        <label class="form-label"> Postal Code </label>
        <input type="text" formControlName="postalCode" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label class="form-label"> Email </label>
      <input type="text" [class.is-invalid]="registerationForm.get('email')?.touched && registerationForm.get('email')?.invalid" formControlName="email" class="form-control">
      <small [class.d-none]="registerationForm.get('email')?.untouched || registerationForm.get('email')?.valid">email is Required</small>
    </div>
    <!-- add dynamic control -->
    <div formArrayName="alternativeEmail" *ngFor="let item of alternativeEmail.controls; let i=index">
      <div class="form-group">
        <label class="form-label">Alternative Email Number {{i+1}}</label>
        <input type="text" class="form-control" [formControlName]="i" />
      </div>
    </div>
    <button (click)="addAnotherEmail()" class="btn btn-primary">Add Another Email</button>
    <div class="form-check">
      <input type="checkbox" formControlName="subscribe" (click)="setEmailValidator()" class="form-check-input me-4" id="chkbox">
      <label class="form-check-label" for="chkbox"> Send Me New Offers </label>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input type="submit" value="Submit" class="btn btn-primary">
      </div>
      <div class="col-md-6">
        <button (click)="loadData()" class="btn btn-success">Set Data</button>
      </div>
    </div>

  </form>
</div>
