.my-app{
  padding: 15px;
}
ul li{
  display: inline-block;
  margin-right: 20px;
}
mat-sidenav-container{
  height: 100%;
}
mat-sidenav-content, mat-sidenav{
  padding: 16px;
}
mat-sidenav{
  width: 200px;
  background-color: blue;
  color: #fff;
}
mat-grid-tile{
  background-color: aqua;
}
