<div class="my-app">
  <!-- <p>
    my custom pipe to square number {{ 4 | square}}
  </p> -->

  <!-- <app-parent></app-parent> -->

  <!-- <app-employee-list></app-employee-list> -->

  <!-- <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/departments">Departments</a></li>
  </ul>
  <router-outlet></router-outlet> -->

  <!-- <app-tmpl-drvn-frm></app-tmpl-drvn-frm> -->

  <!-- <app-reactive-forms></app-reactive-forms> -->

  <p>test</p>
  <div class="mat-display-4"> This is Display 4</div>
  <div class="mat-display-3"> This is Display 3</div>

  <div class="mat-headline"> This is Display 1</div>
  <div class="mat-title"> This is title</div>

  <button mat-raised-button color="primary">Primary</button>
  <button mat-fab disableRipple>Fab</button>
  <mat-button-toggle #toggleBtn checked>Bold</mat-button-toggle>{{toggleBtn.checked}} <br>

  <mat-button-toggle-group #group="matButtonToggleGroup" multiple="">
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  <div>You Selected: {{group.value}}</div>

  <mat-icon color="primary">home</mat-icon>


</div>

